body{
    background: linear-gradient(#1565C0, #B92B27);
}

.header_css{
    background-color: #3A3030;
    width: 100%;
    height: 80px;
    opacity: 0.5;
}

.header_css_Content{
    opacity: 1 !important;
}

@media only screen and (max-width: 600px) 
{
    .imgStyles{
        width: 280px !important;
        height: 224px !important;
    }
}